<div style="background-color:#2f2e2e;">
    <h1 class="mainTitle">Teacher journal</h1>
    <div style="margin-left:50px; margin-right: 50px;"></div>
    <nav>
        <a routerLink="/students" routerLinkActive="active">Students</a>
        <a routerLink="/subjects" routerLinkActive="active">Subjects</a>
        <a routerLink="/statistics" routerLinkActive="active">Statistics</a>
        <a routerLink="/export" routerLinkActive="active">Export</a>
    </nav>
    <router-outlet></router-outlet>
</div>